@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@tailwind utilities;

body {
  font-family: var(--font-inter), var(--font-suwannaphum) !important;
}
h1 {
  font-family: var(--font-local-custom-font) !important;
}
.none-scroll-bar::-webkit-scrollbar {
  display: none;
}
